In [2]:
1+2

3

In [3]:
4%2

0

In [4]:
4/2# gives quof in float

2.0

In [5]:
4//2## gives int value

2

In [6]:
5/2

2.5

In [7]:
#BODMAS_Bracket,Of,Division,Muti,Add,Sub
5+3*5

20

In [8]:
type(2)

int

In [9]:
type(2.5)

float

In [10]:
type('h')

str

In [11]:
type('Jasmine')

str

In [12]:
## Variable_ stores a value specified in a location
a=10
b=20
c=a+b

In [13]:
type(c)

int

In [14]:
## Boolean values
True

True

In [15]:
False

False

In [16]:
True or False

True

In [17]:
True and False

False

In [18]:
not True

False

In [19]:
False and True

False

In [20]:
type(True)

bool

In [21]:
True | False ## Logical

True

In [24]:
a=10
b=20
a+b>30 | a-b<10

True

In [ ]:
### Strings ## characters or numbers inside the '' quatation

In [25]:
type('j')

str

In [26]:
type('hello')

str

In [27]:
## Do not define a variable with the reserved keywords 
#because the functionality will change.
# Ex: Type casting
# str(1) is '1'
# then if we define str with something else,
# the previous is not callable 'error'

In [ ]:
# print is printed in the console output

In [28]:
# string concatination
str1='A good boy'
str2='A bad boy'

In [29]:
print(str1+str2)

A good boyA bad boy

In [30]:
str1+" "+str2

'A good boy A bad boy'

In [31]:
name=input("Enter your name ?")
print(name)

Enter your name ?Jasmine ERAVELLY
Jasmine ERAVELLY

In [32]:
## Add 2 numbers
a=input("Enter num 1?")
b=input("Enter num 2?")
c=a+b
print("The output is",c)

Enter num 1?23
Enter num 2?34
The output is 2334

In [33]:
## input values are always treated as Strings, so typecasting
# is needed when neccessary

In [1]:
a=float(input("Enter num 1?"))
b=float(input("Enter num 2?"))
c=a+b
print("The output is",c)

Enter num 1?23
Enter num 2?34
The output is 57.0

In [2]:
a=int(input("Enter num 1?"))
b=int(input("Enter num 2?"))
c=a+b
print("The output is",c)

Enter num 1?20
Enter num 2?30
The output is 50

In [3]:
a=float(input("Enter num1 ?"))
b=float(input("Enter num2 ?"))
c=a+b
print('the output is',c)

Enter num1 ?20.54
Enter num2 ?30.12
the output is 50.66

In [6]:
## String formatting
first_name=input("What is your first name ?")
last_name=input("What is your last_name ?")
print("My first name is {} and last name is {}".format(first_name,last_name))

What is your first name ?Jasmine
What is your last_name ?ERAVELLY
My first name is Jasmine and last name is ERAVELLY

In [7]:
print("My first name is {a} and last name is {b}".format (a=first_name,b=last_name))

My first name is Jasmine and last name is ERAVELLY

In [8]:
# Variable Dynamic typing_Python automatically 
#identifies the datatype of the variable

'Jasmine'+str(1)

'Jasmine1'

In [9]:
1+int('2')

3

Conditional Statement

In [13]:
## if and elif
a=int(input("Enter the number1 ?"))
b=int(input("Enter the number2? "))
c=a-b
if c<0:
    print('the number is negative',c)
elif c>40:
    print('the diff is huge',c)
elif c>10:
    print('the diff is less',c)
else:
    print('the num is +ve',c)

Enter the number1 ?540
Enter the number2? 290
the diff is huge 250

Data Structures

List
Tuple
String
Dictionary
Sets

In [14]:
# List is a collection of elements can be of different datatypes also.
lst=[1,2,3,'Jasmine','hi']

In [15]:
lst

[1, 2, 3, 'Jasmine', 'hi']

In [16]:
type(lst)

list

In [20]:
lst.append('hello')
lst

[1, 2, 3, 'Jasmine', 'hi', 'hello', 'hello', 'hello']

In [23]:
lst[2]='Data Science'
lst

[1, 2, 'Data Science', 'Jasmine', 'hi', 'hello', 'hello', 'hello']

In [24]:
lst.count('hello')

3

In [25]:
lst.count(2)

1

In [26]:
lst.count(3)

0

In [27]:
## Diffeerence betwn List, String _ mutable and immutable
# the item or character in the string cannot be changed.
# can change the entire string but not sigle char.
# the item in list canbe changed.

In [1]:
lst=list(('jasmine',2,4,5,6.8))
lst

['jasmine', 2, 4, 5, 6.8]